body {
  background-color: #A0A0A0 !important;
}

header h1
{
  color: black;
  margin: 0;
  padding: 10px;
}

header {
  margin: 0;
  padding: 0;
  background-color: #6a9cd0;
  border-bottom: 5px solid black;
}

.modal-header {
  background-color: #6a9cd0;
}

#content {
  padding: 20px;
}

#play_area, #group {
  margin: 0;
  padding: 0;
}

#ga, #pa {
  background-color: #000000;
  padding: 5px;
  display: table;
}

#ga {
  margin-left: 1em;
}

#group {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.grid {
  float: left;
  margin: 1em 0em;
}

#ca {
  width: 100%;
  clear: both;
}

#ca table
{
  background-color: #000000;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ca table::-moz-selection {
  background: transparent;
}

#ca table::selection {
  background: transparent;
}

#ca td {
  border: 2px solid black;
  padding: 6em;
  background-color: #D0D0D0;
  text-align: center;
}

#ca td:active {
  background-color: #FFD0D0;
}


#stats button[type="button"] {
  width: 10em;
  height: 3em;
}

#stats td
{
  color: black;
  font-size: 120%;
  padding: 0.2em 0.5em;
}

#gameoverdlg td {
  font-size: 120%;
  padding: 0.25em 1em;
}

.row
{
  display: table-row;
}

.row > div
{
  display: table-cell;
  background-color: #D0D0D0;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  min-height: 1px;
}

.s0 {
  background-color: #FF0000 !important;
}

.s1 {
  background-color: #00FF00 !important;
}

.s2 {
  background-color: #FF00FF !important;
}

.s3 {
  background-color: #00FFFF !important;
}

.s4 {
  background-color: #0000FF !important;
}
